<div class="container home-form edit-form">
  <h3>Change your categories</h3>
  <%= simple_form_for [@shortlist] do |f| %>
    <%= f.input :recipient_name,
          label: "Who are you gifting ðŸŽ ?",
          placeholder: 'Your recipient name' %>
    <%= f.input :interest,
          as: :check_boxes,
          # put below in Shorlist model
          collection: Shortlist::CATEGORIES,
          label: "What do they â¤ï¸ ?",
          input_html: { class: "tag-selector" },
          item_wrapper_class: 'tag-item' %>
    <%= f.button :submit, "Start swiping", class: "btn-primary", width: "100%" %>
  <% end %>
</div>
