<div class="carousel slide home-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card carousel-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
    <div class="carousel-item">
       <div class="card carousel-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
        </div>
      </div>
    </div>
    <div class="carousel-item">
       <div class="card carousel-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
        </div>
      </div>
    </div>
  </div>
</div>
