<div class="footer d-flex justify-content-between">
  <div class="socials p-2 m-3 ml-5 mt-5"> 
    <ul class="list-inline">
      <li class="list-inline-item ml-2"><i class="fab fa-2x fa-facebook-square"></i></li>
      <li class="list-inline-item ml-2"><i class="fab fa-2x fa-instagram-square"></i></li>
      <li class="list-inline-item ml-2"><i class="fab fa-2x fa-twitter-square"></i></li>
    </ul>
  </div>

  <div class="contact p-2 m-3 mr-5 mt-5">
    <p><strong>Contact us:</strong> customer-service@gift-me.com </p>
  </div>
</div>
