// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #a6c1ee;
// $blue: #167FFB;
$light-blue: #ECEAFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #99DDCC;
$gray: #0E0000;
$light-gray: #F4F4F4;
// $pink: #FFE2E2;
$paper: #EFDDCF;
$dark-blue:#1D2951;
$gold: #b8860b;
$pink: #F59FA6;


