.gift-display {
  height: 620px;
  margin: auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.loaded.gift-display {
  opacity: 1;
}

.gift-cards {
  flex-grow: 1;
  padding-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
}

.shortlisted-gifts {
  text-align: center;
}

body {
  height:900px;
  background-image: url("https://wallpaperaccess.com/full/666718.jpg");
  background-size: cover;
  position: relative;
}

#scissors {
  position:absolute;
  width: 22%;
  height: auto;
  bottom: 15%;
  left: 7.5%;
  opacity: 0.90;
  transform: rotate(30deg);
}

#giftbox1 {
  position:absolute;
  width: 29%;
  height: auto;
  bottom: 22%;
  right: 1%;
  transform: rotate(-5deg);
  opacity: 0.95;
}




#ribbon {
  position:absolute;
  width: 20%;
  height: auto;
  top: 0;
  left: 9%;
  // transform: rotate(45deg);
  opacity: 0.95;
}

@keyframes slidedown {
  from {transform: translate(0, -500px);}
  to {transform: translate(0px, 0px);}
}

.gifts-show {
  animation-name: slidedown;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

