<body style="background-image: url('./assets/images/Background_homepage.jpg')">

<div class="container">
  <div class="text-center card-horizontal-title">
    <h1>Congratulations!</h1>
    <h2>You bloody did it</h2>
  </div>
  <%= render 'components/card', gift: @session_gift.gift %>
</div>

<%= javascript_pack_tag 'confetti.js' %>
</body>
