<h1>Gifts#index</h1>
<p>Find me in app/views/gifts/index.html.erb</p>

<ul>
  <% @gifts.each do |gift| %>
  <li><%= gift.title %></li>
  <li><%= link_to "Add to shortlist",
  shortlist_session_gifts_path(@shortlist, gift_id: gift.id ), method: :post  %></li>
  <% end %>
</ul>
