<div class="container overflow">
  <div class="shortlist-recipient-cards-grid">
    <% current_user.shortlists.each do |shortlist| %>
    <div class="row-center">
      <%= render 'components/shortlist', shortlist: shortlist %>
    </div>
    <% end %>
  </div>
</div>
