<div class="container overflow">
  <div class="shortlist-recipient-cards">
    <% current_user.shortlists.each do |shortlist| %>
      <%= render 'components/shortlist', shortlist: shortlist %>
    <% end %>
  </div>
</div>
