<%# <%= javascript_pack_tag 'remove_logo' %>
<div class="container">
  <div class="welcome">
    <div class="flex-1">
      <%= image_tag 'logo-gold.png', class: "home-logo" %>
    </div>
    <div class="flex-2">
      <%= render 'components/home_form' %>
    </div>
  </div>
</div>
