<div class="container list-container">
  <% @shortlist.gifts.each do |gift| %>
    <%= render 'components/card_horizontal', gift: gift %>
  <% end %>
</div>

<!--<% content_for :meta_title, "#{@gift.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @gift.description %>
<% content_for :meta_image, cl_image_path(@offer.photo.path) %>-->
