.button-accept {
  display:block;
  width:90px;
  height:90px;
  line-height:100px;
  color: $green;
  background-color: #F4F4F4;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70px;
  margin: 20px 20px;
  border-radius: 50%;
  box-shadow: #bdbdbdd5 0px 2px 2px;
  cursor: pointer;
}

.button-accept:hover {
  color: #45D8B3;
  text-decoration: none;
}

.button-reject {
    display:block;
    width:90px;
    height:90px;
    line-height:90px;
    color: $pink;
    background-color: #F4F4F4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 80px;
    margin: 20px 20px;
    border-radius: 50%;
    box-shadow: #bdbdbdd5 0px 2px 2px;
    cursor: pointer;
}
  
.button-reject:hover {
    color: #F98992;
    text-decoration: none;
    background-color: #F4F4F4;
}
