@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

.card-horizontal {
  display: flex;
  height: 240px;
  width: 100%;
}

.card-img-left {
  width: 15vw;
  height: 100%;
}

.card-horizontal .card-body {
  width: 100%;
  overflow: hidden;
}

.card-horizontal-title {
  margin-top: 1vw;
  margin-bottom: 1vw;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    // color: $gold;
    // background: -webkit-linear-gradient($gold, #daa520, $gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.25rem;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
  }
}



.shimmer {
  display: inline-block;
  color:white;

  background: $gold -webkit-gradient(linear, 50% 0, 0 0, from($gold), color-stop(0.3, #ffffff), to($gold));

  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-iteration-count: 5;
  -webkit-background-size: 4rem 100%; /*50px*/

}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    70% {
        background-position: 35rem top; /*200px*/
    }

    100% {
        background-position: 35rem top; /*200px*/
    }
}
