.card-img {
  object-fit: cover;
  width: 15vw;
  height: 100%;
  border-radius: 4px;
}

.card-title {
  font-weight: bolder;
  font-size: 24px;
}

.card {
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}