@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

.card-horizontal {
  display: flex;
  height: 240px;
  width: 100%;
}

.card-img-left {
  width: 15vw;
  height: 100%;
}

.card-horizontal .card-body {
  width: 100%;
  overflow: hidden;
}

.card-horizontal-title {
  margin-top: 1vw;
  margin-bottom: 1vw;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    color: $gold;
    background: -webkit-linear-gradient($gold, #daa520, $gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1.25rem;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
  }
}
