.gift-choice {    
    align-items: center;
    position: relative;
    a {
        top: 50%;
        position: absolute;
    }
}

.gift-add a {
    left: 20%;
}

.gift-reject a {
    right: 20%;
}

.shortlist-choice {
  justify-content: center;
}

.gift-selector {
  margin: 24px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  