@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.gift-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 564px;
  padding-top: 40px;
}


.gift {
  width: 524px;
  height: 100%;
}

.gift-card {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
  background-color: #FFFFFF;
  display: inline-block;
  border: 3px solid $light-gray;
  // width: 90vw;
  // max-width: 400px;
  // height: 70vh;
  // padding-bottom: 40px;
  overflow: hidden;
  // position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
}

.gift-img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  border-radius: 20px 20px 0px 0px;
}

.gift-details {
  height: 35%;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 0 0 48px 48px;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gift-title {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #1D2951;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.gift-price {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-family: 'Raleway', sans-serif;
  color: #1D2951;
  font-weight: bolder;
  font-size: 24px;
  margin: 0 16px;
}

.gift-category {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  color: white;
  background-color: $blue;
  border: 2px solid $blue;
  padding: 0.2rem 1.5rem 0.2rem 1.5rem;
  border-radius: 20px;
}


.gift-details p {
  margin-bottom: 0;
  font-size: 1.4rem;
}

.gift-selector-hidden {
  display:none;
}

.gift-show {
  opacity: 1;
}
