@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.gift-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 564px;
  padding-top: 40px;
}


.gift {
  width: 524px;
  height: 100%;
}

.gift-card {
  width: 100%;
  height: 100%;
  border-radius: 48px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.05);
  background-color: #FFFFFF;
  display: inline-block;
  // width: 90vw;
  // max-width: 400px;
  // height: 70vh;
  // padding-bottom: 40px;
  overflow: hidden;
  // position: absolute;
  will-change: transform;
  transition: all 0.3s ease-in-out;
}

.gift-img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  border-radius: 20px 20px 0px 0px;
}

.gift-details {
  height: 35%;
  width: 100%;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 0 0 48px 48px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gift-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  color: #1D2951;
  font-size: 30px;
}

.gift-price {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: 'Raleway', sans-serif;
  color: #1D2951;
  font-weight: bolder;
  font-size: 24px;
  margin: 0 16px;
}

.gift-category {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  background-color: #99DDCC;
  border: 2px solid #99DDCC;
  padding: 0px 1rem 0px 1rem;
  border-radius: 20px;
}



.gift-details p {
  margin-bottom: 0;
}


//Animations and state changes on accept / reject

.gift-selector-hidden {
  display:none;
}

.gift-show {
  opacity: 1;
}

// @keyframes reject {
//   from {}
//   to {height:0px; width:0px; opacity:0; transform: translate(-550px, -100px); color:white;}
// }

// @keyframes accept {
//   from {}
//   to {height:0px; width:0px; opacity:0; transform: translate(0px, 400px); color:white;}
// }


// .gift-hidden-accept {
//   animation-name: accept;
//   animation-duration: 0.7s;
//   animation-fill-mode: forwards;
// }

// .gift-hidden-reject {
//   animation-name: reject;
//   animation-duration: 0.7s;
//   animation-fill-mode: forwards;
// }
