.new_shortlist {
    .form-group {
        padding: 10px;
    }
}

.tag-item {
    display: inline-block;
}

// gets rid of checkbox
.tag-selector {
    position: absolute;
    transform: scale(0);
}

.tag-selector + label {
    cursor: pointer;
    display: inline-block;
    font-size: 1.0rem;
    border-radius: 50rem;
    padding: 0.1rem 0.5rem;
    background-color: $blue;
    color: $white;
    border: 1px solid $blue;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }

// selected colour changes
.tag-selector:checked + label {
    background-color: $green;
    font-weight:bold;
}


.home-form {
    color: $dark-blue;
    transition: 0.5s;
    background-image: linear-gradient(to right, $light-gray 0%, $light-gray 51%, $light-gray 100%);
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    border-radius: 1rem;
    background-color: $blue;
    padding: 3rem;
    label {
        font-size: 1.2rem;
    }
    legend {
        font-size: 1.2rem;
    }
    .form-questions {
        font-size: 1.5rem;
    }
    h3 {
        color: $dark-blue;
        padding: 10px;
        text-align: center;
    }
    .btn {
        cursor: pointer;
        color: white;
        width: 100%;
        padding: 15px;
        font-size: 1.2rem;
        border-radius: 50rem;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.5s;
        background-size: 200% auto;
        box-shadow: 0 0 20px #eee;
        background-image: linear-gradient(to right, $green 0%, $green 51%, $green 100%);
        background-size: cover;
        border-color: $green;
    }
}

.home-form .btn {
    &:hover {
        background-position: right center;
    }
}

.form-control {
    color: $green;
    border-radius: 50rem;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: $white;
    &::placeholder {
        color: $blue;
    }
}

// for edit form 
.form-check-label {
    color: white !important;
}

