@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.shortlist-card {
  overflow: hidden;
  height: 144px;
  width: 576px;
  margin-bottom: 30px;
  margin-left: 15px;
  background: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
}

.shortlist-card img {
  height: 100%;
  width: 144px;
  object-fit: cover;
}

.shortlist-card .header {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1D2951;
  margin: 0;
}

.shortlist-card p {
  font-size: 1.2rem;
  color: #1D2951;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.shortlist-card .shortlist-card-infos {
  font-family: 'Raleway', sans-serif;
  padding: 16px;
  width: 336px;
}

.gift-btn{
  display:block;
  border-radius: 12px;
  font-weight: bold;
  width:90px;
  height:40px;
  color: #F4F4F4;
  background-color: #99DDCC;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px 20px;
  cursor: pointer;
  opacity: 0.9;
}

.gift-btn:hover {
  background-color: #45D8B3;
  color: #F4F4F4;
  text-decoration: none;
}


.gift-btn i {
  font-size: 24px;
  color: $green;
}

.shortlist-trash-btn {
  position: absolute;
  width:32px;
  height: 32px;
  // border-radius: 50%;
  border: 3px solid #EE6B76;
  background: #F4F4F4;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  margin: 8px;
  top: 0;
  opacity: 0;
}


.shortlist-trash-btn i {
  font-size: 18px;
  color: #EE6B76;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}

.shortlist-card:hover {
  border-top: 4px solid $light-gray;
  border-bottom: 4px solid $light-gray;
  // border-left: 4px solid #F4F4F4;
}

.shortlist-card:hover .shortlist-trash-btn {
  opacity: 1;
}


