.overflow {
  overflow-y: scroll;
}

.shortlist-recipient-cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shortlist-recipient-card {
  flex: 0 1 30%;
  position: relative;
  background: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;

  h2 {
    text-align: center;
    color: #F59FA6;
  }
}

.category-pills {
  color: white;
  background-color: #99DDCC;
  border: 2px solid #99DDCC;
  padding: 0px 1rem 0px 1rem;
  border-radius: 20px;
}

.shortlist-image-gift {
  width: 20%;
  border-radius: 5px;
}

.shortlist-delete-edit {
  margin-top: 10%;
  text-align: center;
}
