.overflow {
  overflow-y: scroll;
}

.shortlist-recipient-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
  flex-grow: 1;
}

.shortlist-recipient-card {
  position: relative;
  width: 275px;
  height: 275px;
  background: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  border-radius: 20px;
  padding: 10px;

  h2 {
    text-align: center;
    color: #F59FA6;
  }
}

.category-pills {
  color: white;
  background-color: #99DDCC;
  border: 2px solid #99DDCC;
  padding: 0px 1rem 0px 1rem;
  border-radius: 20px;
}

.delete-edit {
  margin: auto;
  position: absolute;
  bottom: 1rem;
  left: 40%;
}
